*{
    font-family: "Lato";
    color: white;
}
body{
    background-color: #85AFD4;
    margin-left: 35%;
    margin-right: 35%;
}
img{
    margin-left: 47%;
    height: 20px;
}
h2,h1{
    text-align: center;
    font-weight: bold;
}
p{
    font-size: 20px;
}
input{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}
::placeholder{
    padding-left: 10px;
    color: black;
    font-size: medium;
}
.downp{
    text-align: center;
}
#button{
    display: block;
    margin: auto;
    padding-top: 15px;
    height: 50px;
    width: 320px;
    font-size: large;
    background-color: red;
    border-width: thin;
    border-color: black;
    border-radius: 20px;
    text-align: center;
}
a{
    font-weight: bold;

}

